<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% get_static_prefix %}css/style.css" rel="stylesheet">
        {% block more_script %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row bg-brown py-2 pt-3">
                <div class="col-md-6">
                    <h1 class="h4">birdr</h1>
                </div>
                <div class="col-md-6 text-right">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">logout</a>
                    {% else %}
                         <a href="{% url 'login' %}">login</a> | Register
                    {% endif %}
                </div>  
            </div>
        </div>
        <div class="container bg-light">{% block content %}{% endblock %}</div>
        <footer class="container text-center bg-grey p-2">fly fly fly </footer>

        {% block end_script %}
        {% endblock %}
        <script src="{% get_static_prefix %}js/vue/vue.{% if not debug %}min.{% endif %}js"></script>
        <script type="text/javascript">
                var bus = new Vue();
        </script>
    </body>
</html>