.text-green { 
    color:#32e442;
}

/* bg colors */
.bg-red {
    background-color: #bd5853;
}

.bg-blue {
    background-color: #91bac8;
}

.bg-grey {
    background-color:#707e8b;
}

.bg-tan {
    background-color: #707e8b;
}

.bg-brown {
    background-color: #b8b3af;
}

.bg-purple {
    background-color: #4f5261;
}

