{% extends 'template.html' %}
{% block title %}stations{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Stations</h2>
        </div>
        <div class="col-md-12">
            <p>
                Here you can find your stations, or create new ones.
            </p>
        </div>
        <div class="col-md-8 border">
            <p>Your Stations</p>
        </div>
        <div class="col-md-4 border">
            <p>I</p>
        </div>
    </div>
{% endblock %}
